h1 {
	text-align: center;
	font-weight: bolder;
	color: white;
	border-radius: 10px;
	padding: 10px;
	background-color: #0070BA;
    }
#navbar {
	height: 28px;
}
#navbar ul li{
	display: inline;
	float: left;
}
#search_note_by_id {
	display: inline;
	float: right;
}
#search_note_by_id > {
	margin-right: 15px;
}
#search_note_by_id label{
	padding-top: 8px;
}
.notes {
	border-radius: 5px;
	padding: 5px;
	background-color: #B2D4EA;
	margin-bottom: 10px;
	}
#random {
	margin-top: 10px;
	padding: 5px;
	border-radius: 5px;
	background-color: #B2D4EA;
	}

div#random_note {
	padding: 5px;
	margin: 5px;
	white-space: pre-line;
	border-radius: 5px;
	background-color: white;
	}

div#random_note_code {
	margin: 5px;
	white-space: pre-line;
	height: 140px; 
	width: 350px;
	text-align: center;
	border-radius: 5px;
	background-color: white;
	}

div.media {
	border-radius: 10px;
	/*background-color: #6B86A6;*/
	}
div.row {
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	background-color: white;
	}
#notesd-count {
	color: white;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	background-color: #6B86A6;
	}
#add_note {
	float: left;
	border-radius: 5px;
	margin-top: 10px;
	padding: 10px;
	background-color: #B2D4EA;
	}
[errors='errors'] {
	border-radius: 5px;
    color: rgb(255,0,0);
    margin-bottom: 5px;
    padding: 5px;
    padding-right: 10px;
    background-color: white;
}
tr* {
	margin: 10px;
}
#id_books {
	margin: 10px;
}
