<!DOCTYPE html>
<html lang="en">
 <head>    
   {% load staticfiles %} 
   <link href="/{{ STATIC_ROOT }}css/bootstrap.min.css" rel="stylesheet" media="screen">
   <link href="/{{ STATIC_ROOT }}css/grid.css" rel="stylesheet">
 </head>     
    <body>
      <div class="container">     
      <h2>7Pages Twitter</h2>
      <h1>Notes</h1>
       {% for note in notes %}
         <div class="row">               
           <div class="col-lg-8">{{ note }} </div>
         </div>
       {% endfor %}
      <script src="http://code.jquery.com/jquery-latest.js"></script>
      <script src="/js/bootstrap.min.js"></script>    
      </div>
    </body>
</html>