<!DOCTYPE html>
<html lang="en">
 <head>    
 {% load templatetags %}  
  <title> Notes</title> 
   <!-- <style type="text/css">-->
   <style>
   body{
    background-color: RGB(250, 240, 230)
   } 
   h1 {
    background-color: RGB(255, 218, 185)
   }
   p {
    background-color: RGB(255, 228, 225);
    color: black
   }
  </style>

   <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <!-- Custom styles for this template -->
   <link href="/css/starter-template.css" rel="stylesheet">
 </head>     
    <body>
     <div class="container">     
      <div class="starter-template">
       <h1>Notes</h1>
      {% search_by_id  id_of_note %}
      <script src="http://code.jquery.com/jquery-latest.js"></script>     
     <script src="/js/bootstrap.min.js"></script>    
      </div>
    </div>
    </body>
    
</html>